/* Section 2 Collection Detail */
.section2-collection-detail {
  height: 75vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.collection-detail-content {
  max-width: 600px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-detail-subtitle {
  text-align: center;
  color: #797979;
  text-transform: uppercase;
  margin-bottom: 12px;
  width: 100%;
}

.collection-detail-title {
  text-align: center;
  color: #000000;
  width: 100%;
  margin-bottom: 36px;
}

.collection-detail-description {
  color: #797979;
  text-align: center;
  width: 610px;
  max-width: 100%;
  margin: 0 auto;
}

.collection-detail-description p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.collection-detail-description p:first-child {
  margin-top: 0;
  margin-bottom: 12px;
}

.collection-detail-description p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1023px) {
  .section2-collection-detail {
    height: 100vh;
  }
  .collection-detail-content {
    width: 62%;
  }

  .collection-detail-title {
    margin-bottom: 2rem;
  }

  .collection-detail-subtitle {
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
  }

  .collection-detail-description p {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .section2-collection-detail {
    height: 100vh;
  }
  .collection-detail-content {
    width: 77%;
  }

  .collection-detail-subtitle {
    letter-spacing: 1.5px;
  }
}
