.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.universe-star-container-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px; /* Distance below Senses text */
    z-index: 10;
    pointer-events: none;
}