@import url("@styles/fonts.css");

/* Container for scroll effect test */
.scroll-effect-test-container {
  position: relative;
  width: 100%;
  min-height: 300vh;
}

/* Sticky viewport */
.homepage {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Top half wrapper */
.gradient-top-half {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: 2;
}

/* Bottom half wrapper */
.gradient-bottom-half {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: 2;
}

/* Top gradient - nửa trên */
.gradient-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(83deg, #bc224c 37.61%, #000 115.98%);
  transform: rotate(-180deg);
  opacity: 1;
  transition: opacity 0.1s linear;
}

/* Bottom gradient - nửa dưới */
.gradient-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(96deg, #000 0.98%, #bc224c 98.65%);
  opacity: 1;
  transition: opacity 0.1s linear;
}

/* Logo Center */
.logo-center {
  position: relative;
  z-index: 10;
}

.main-logo {
  width: 90px;
  height: auto;
  opacity: 1;
}
