:root {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* Chúng ta đã xóa display:flex và place-items:center từ đây */
  overscroll-behavior-y: none;
  overscroll-behavior-x: auto;
  -webkit-overscroll-behavior-y: none;
  -webkit-overscroll-behavior-x: auto;
}

html {
  overscroll-behavior-y: none;
  overscroll-behavior-x: auto;
  -webkit-overscroll-behavior-y: none;
  -webkit-overscroll-behavior-x: auto;
}

/* Ẩn scrollbar cho toàn bộ hệ thống nhưng vẫn scroll được */
/* Chrome, Safari, Edge, Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE 10+ và Edge cũ */
* {
  -ms-overflow-style: none;
}