.all-news-page-v2 {
  width: 100%;
  min-height: 100vh;
  background: white;
  font-family: "BT Beau Sans", sans-serif;
}

.news-list-v2 {
  width: 100%;
  /* padding: 60px 0 120px 0; */
  background: rgba(246, 246, 246, 1);
}

.news-list-v2-container {
  width: 100%;
}

.view-more-section-v2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.view-more-btn-v2 {
  margin: 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  /* .news-list-v2 {
    padding: 40px 0 80px 0;
  } */

  .view-more-section-v2 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  /* .news-list-v2 {
    padding: 24px 0 60px 0;
  } */

  .view-more-section-v2 {
    margin-top: 20px;
  }
}
