.presence-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    cursor: pointer;
    overflow: hidden;
    border: none;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.presence-overlay-open {
    opacity: 1 !important;
}

.presence-overlay-closing {
    opacity: 0;
}

.presence-overlay .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: sparkle 5s infinite ease-in-out;
    pointer-events: none;
    z-index: 1002;
}

.presence-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
}


.presence-container .star-container-center {
    margin-top: -10px;
}

.presence-planet-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.starlight-6-oclock {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center top;
    z-index: 15;
}



@keyframes sparkle {

    0%,
    100% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .presence-overlay {
        width: 100vw;
        height: 100vh;
    }

    .presence-container {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .presence-overlay {
        width: 100vw;
        height: 100vh;
    }

    .presence-container {
        padding: 0.8rem;
    }
}