.news-hero {
  height: 40vh;
  width: 100%;
  background: radial-gradient(114.53% 100% at 50% 0%, #0B0B0B 0%, #1B0008 10%, #780A28 30%, #BC224C 50%, #F69AB3 70%, #F6F6F6 85%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-hero-container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.news-hero-explore {
  color: #ffffff;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.news-hero-title {
  color: #ffffff;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

.news-hero-subtitle {
  color: #ffffff;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Design */
@media screen and (max-width: 1023px) {
  /* .news-hero {
    padding: 120px 0 80px 0;
  } */
}

@media screen and (max-width: 480px) {
  /* .news-hero {
    padding: 100px 0 60px 0;
  } */

  .news-hero-subtitle {
    max-width: 77%;
  }
}
