.news-hero {
  height: 56vh;
  width: 100%;
  background: linear-gradient(180deg, #bc224c 0%, #f6f6f6 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-hero-container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.news-hero-explore {
  color: rgba(121, 121, 121, 1);
  margin-bottom: 12px;
  text-transform: uppercase;
}

.news-hero-title {
  color: #000000;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

.news-hero-subtitle {
  color: #797979;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Design */
@media screen and (max-width: 1023px) {
  /* .news-hero {
    padding: 120px 0 80px 0;
  } */
}

@media screen and (max-width: 480px) {
  /* .news-hero {
    padding: 100px 0 60px 0;
  } */

  .news-hero-subtitle {
    max-width: 77%;
  }
}
